@mixin SocialButton($social: "facebook")
  padding: .3rem 1rem
  cursor: pointer
  border-radius: .5rem
  @if $social == "facebook"
    border: none
    color: map-get($fontColor, 'white')
    background: map-get($fontColor, 'fb')
    &:hover
        border: 1px solid map-get($fontColor, 'fb')
        background: map-get($fontColor, 'white')
        color: map-get($fontColor, 'fb')
  @else 
    border: none
    color: map-get($fontColor, 'white')
    background: map-get($fontColor, 'google')
    padding: .3rem 1.5rem
    &:hover
        border: 1px solid map-get($fontColor, 'google')
        background: map-get($fontColor, 'white')
        color: map-get($fontColor, 'google')


@mixin button($type:'normal')
    background-color: map-get($fontColor, 'green')
    border: none
    font-size: map-get($size, 'small')
    width: 75px
    height: 26px
    margin-top: map-get($size, 'tiny' )
    padding: 0
    border-radius: 2rem