@import "~bootstrap/scss/bootstrap"
@import "./variables"
@import "./mixins/_button"
@import "./Home.module"
html,
body 
  padding: 0
  margin: 0


a 
  color: inherit
  text-decoration: none


* 
  box-sizing: border-box
  font-family: 'Titillium Web', sans-serif

