nav
    background-color: map-get($fontColor, 'newBlack') !important
    .nav-container
        .navbar-brand
            color: map-get($fontColor, 'white')
        .rightNav 
            .nav-link
                padding-right: map-get($size, 'medium')
                color: map-get($fontColor, 'white') !important
            .download-btn
                @include button($type: 'normal')